.container {
    max-width: 960px;
}

.back-body {
    background-image: url('/backg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.product-card {
    width: 75%;
    margin: 7% auto;
}




.site-showcase-btn {
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border: 0;
    transition: background-color .15s ease-in-out;
}

.site-showcase-btn:hover {
    background-color: #ff8a50;
}

.input-border {
    border: 1px solid #dee2e6;
    padding: 8px 20px;
}

.input-border:focus, .input-border:active {
    border: 1px solid #a384a5;
}


input:focus {
    outline:none !important;
}

.button-signin {
    padding: 5px 20px;
    border: 1px solid #dee2e6;
    color: white;
    background-color: #7e57c2 ;
}

.button-signin:hover {
    border: 1px solid #7e57c2;
    background-color: #c7a4ff;
    color: #65499c;
}

.button-signup {
    padding: 5px 20px;
    border: 1px solid #7e57c2;
    color: #7e57c2;
    background-color: white;
}

.button-signup:hover {
    background-color: #c7a4ff;
}

.other-logins{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: white;
    margin: 7px;
}



/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
